<!DOCTYPE html>
<html>

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Search Form</title>

	<link rel="stylesheet" href="assets/demo.css">
	<link rel="stylesheet" href="assets/form-search.css">

	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
        <a href="#"><img id="logo" src="https://images.squarespace-cdn.com/content/v1/5ed4a550bc8b873add9dc611/1592953484715-C2AID11IBVPLAVM5YCKR/ke17ZwdGBToddI8pDm48kLkXF2pIyv_F2eUT9F60jBl7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z4YTzHvnKhyp6Da-NYroOW3ZGjoBKy3azqku80C789l0iyqMbMesKd95J-X4EagrgU9L3Sa3U8cogeb0tjXbfawd0urKshkc5MgdBeJmALQKw/sarah-dorweiler-2s9aHF4eCjI-unsplash.jpg"></a>


<h1>Safe Up</h1>

</head>


	

    <ul>
        <li><a href="index.html">Basic</a></li>
        <li><a href="form-register.html">Register</a></li>
        <li><a href="form-login.html">Login</a></li>
        <li><a href="form-mini.html">Mini</a></li>
        <li><a href="Admins-Form.html">Admins-Form</a></li>
        <li><a href="form-validation.html">Validation</a></li>
        <li><a href="form-search.html" class="active">Search</a></li>
    </ul>


    <div class="main-content">

        <!-- You only need this form and the form-search.css -->

        <form class="form-search" method="get" action="#">
            <input type="search" name="search" placeholder="I am looking for..">
            <button type="submit">Search</button>
            <i class="fa fa-search"></i>
        </form>

    </div>

</body>

</html>
